@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hizmet Başlığı</th>
        <th>Sil</th>
        <th>Güncelle</th>
       

    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <th>@item.ServiceID</th>
           
            <td>@item.Title</td>
            <td><a href="/ServiceControllercs/DeleteService/@item.ServiceID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a>  </td>
            <td><a href="/ServiceControllercs/UpdateService/@item.ServiceID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a>  </td>
           

        </tr>

    }

</table>
<a href="/ServiceControllercs/AddService/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Hizmet Girişi</a>
